@import url(template.css);

h1 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 3rem !important;
}

h3 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 2rem !important;
}

.sign-in,
button {
    background-color: var(--light);
    padding: 1rem 3rem;

    border-radius: 0.625em;
    font-family: "IBM Plex Mono", monospace;
}

.name {
    color: var(--header);
}

.name1 {
    color: var(--dark);
}
