@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Roboto+Mono&display=swap");
* {
  user-select: none;
}
.container {
  padding: 50px;
  margin-top: 7%;
  text-align: center;
}

.login:hover {
  color: blue;
}

.input {
  border: 2px solid #a4e5e0;
  border-radius: 5px;
  margin-top: 5px;
}

.register {
  background-color: #a4e5e0;
  color: azure;
  padding: 5px;
  border-radius: 5px;
}

.col-md-offset-3 {
  flex-basis: 55%;
}
.col-sm-offset-3 {
  background-color: #a4e5e0;
  border-radius: 5%;
}
.col-lg-12 {
  padding: 20px;
}
.panel-login {
  padding: 0px;
  margin-left: 70%;
}
.form-group {
  padding: 10px;
}
.navbarz {
  background-color: #a4e5e0;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.6rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer {
  background-color: #a4e5e0;
  color: #fff;
  position: fixed;
  margin-bottom: 0px;
  padding: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
}

.mainlogoname {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  padding-right: 0.5rem;
}
.btn-primary {
  background-color: #a4e5e0 !important;
  padding-left: 10px;
}
.btn-primary:hover {
  border-color: #38475d;
}
.col-md-6 {
  margin-left: 20%;
}
